html {
    background-color: var(--light-color) !important;
    
}
html {
    filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
    -webkit-filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}


@-moz-document url-prefix() {
    html {
        background-color: var(--dark-color) !important;
        
    }
    body {
        background-color: var(--dark-color)!important;
    }
}

.site-nav-banner{
    background-color: var(--light-color) !important;
}


.site-nav a {
    color: var(--dark-color) !important;
}

.timeline-container::after {
    background-color: var(--light-color) !important;
}

.timeline-container .timeline-icon {
    background-color: var(--light-color) !important;
}

  body {
    background-color: var(--light-color) !important;
}

.content {
    background-color: var(--light-color) !important;
}

.footer p{
    color: var(--dark-color);
}

img,
video,
body * [style*="background-image"] {
    filter: hue-rotate(180deg) contrast(100%) invert(100%) brightness(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%) brightness(100%);
}
