/* COLORS */

:root {
    --nav-background-color: #131313;
    --link-color-dark-mode: #dadadb;
    --font-color-dark-mode: #b1b1b1;
}

body {
    background-color: #111111;
    color: var(--font-color-dark-mode);
}

body a,
a,
a:visited,
i,
.blogtitle a,
hgroup,
.pagetitle,
.content p,
.footer p,
content a,
content p,
.navigation a {
    color: var(--font-color-dark-mode);
}

i:hover,
a:hover {
    color: var(--link-color-dark-mode);
}

.navigation {
    background-color: var(--nav-background-color);
}

.separator hr {
    border: solid #303030;
    border-width: thin;
}

.reading-stats-circle-black {
    height: 0.3em;
    width: 0.3em;
    background-color: var(--font-color-dark-mode);
    border: 0.12em solid var(--font-color-dark-mode);
    border-radius: 50%;
    display: inline-block;
}

.reading-stats-circle-white {
    height: 0.3em;
    width: 0.3em;
    background-color: #292a2d;
    border: 0.12em solid var(--font-color-dark-mode);
    border-radius: 50%;
    display: inline-block;
}

.notes-entry {
    background: linear-gradient(315deg, transparent 1.5em, var(--nav-background-color) 1.5em);
}

.notes-title a {
    color: var(--font-color-dark-mode);
}

.notes-entry-description p {
    color: var(--font-color-dark-mode);
}
