html {
    background-color: #000 !important;
    
}
html {
    filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
    -webkit-filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
body {
    background-color: #fff !important;
}

img,
video,
body * [style*="background-image"] {
    filter: hue-rotate(180deg) contrast(100%) invert(100%) brightness(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%) brightness(100%);
}