html, body {
    background-color: var(--dark-color);
}

p, a, h1, h2, h3, h4 , h5, h6, time {
    color: var(--light-color);
}

@-moz-document url-prefix() {
    html {
        background-color: var(--dark-color) !important;
        
    }
    body {
        background-color: var(--dark-color)!important;
    }
}

.content {
    background-color: var(--dark-color);
}

.timeline-container::after {
    background-color: var(--light-color) !important;
}

.timeline-container .timeline-icon {
    background-color: var(--dark-color) !important;
}

.timeline::after {
    background-color: var(--light-color);
}

.timeline::container::after {
    background: var(--dark-color);
    border: 2px solid var(--light-color);
}

.timeline-container::before {
    background: var(--light-color);
}

.timeline-container .timeline-icon {

  background: var(--dark-color);
  border: 2px solid var(--light-color);

  color: var(--light-color);
}

.timeline-container .timeline-content h2 {
    color: var(--light-color);
  }
  
  .timeline-container .timeline-content p {

    color: var(--light-color);
  }

  .timeline-container.right::after {
    background: var(--dark-color);
    border: 2px solid var(--light-color);
}

.site-nav-banner{
    background-color: var(--light-color);
}

.site-nav-banner a{
  color: var(--dark-color);
}

li{
  color: var(--light-color);
}
