/* COLORS */

:root {
    --light-color: #fff;
    --dark-color: #191919;

    --font-color-light-mode: #191919;
    --font-color-dark-mode: #fff;

    --nav-background-color: #F7F8F9;
}

/* LAYOUT */

body {
    background-color: var(--light-color);
    color: var(--font-color-light-mode);
    font-family: system-ui, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body a,
a:visited {
    color: var(--dark-color);
}

.separator hr {
    border: solid #F7F8F9;
    border-width: thin;
}

/* NAVIGATION */

.website-title {
    line-height: 1.5;
    font-weight: bold;
    font-style: normal;
    font-size: 2.0em;

    /* small fix because font size made it not align */
    margin-left: -0.045em;
}

.navigation {
    background-color: var(--nav-background-color);
    padding-left: 32em;
    padding-right: 32em;
    padding-top: 2em;
    padding-bottom: 1em;

}

.navigation ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;

}

.navigation li {
    vertical-align: middle;
}

.navigation a {
    display: block;
    padding-right: 1em;
    text-decoration: none;
    color: var(--dark-color);
    width: max-content;
}

/* CONTENT */

.content {
    width: auto;
    margin-left: 32em;
    margin-right: 32em;
    flex: 1;
}

.pagetitle {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* TEMP */
.temp-construction-note {
    font-size: 0.75em;
    color: grey;
}

/* BLOG */
.blogentry {
    margin-bottom: 1.75em;
}

.blogtitle a,
a:visited {
    text-decoration: none;
    font-size: 1.125em;
    font-weight: bold;
}

.blogdate {
    font-size: 0.8em;
}

.blog-read-more a {
    font-size: 0.85em;
}

.blogbacktolist a {
    font-size: 0.85em;
}

/* PROJECT */

.projectgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.project-grid-item {
    height: min-content;
    flex: 1 45%;

}

.project-grid-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.project-grid-content {
    display: flex;
}

.project-grid-image {
    max-height: 10em;
    width: 10em;
    display: flex;
}

.project-grid-image img {
    width: inherit;
    max-height: 10em;
}

.project-grid-description {
    float: left;
    margin-left: 1em;
}

.project-grid-description p {
    font-size: 0.85em;
    vertical-align: middle;
}

.project-grid-github {
    margin-top: 1em;
}

.project-grid-github a {
    text-decoration: none;
}

.projectimage img {
    height: auto;
    max-width: 15em;
}

.project-githublink {
    display: flex;
    justify-self: flex-end;
}

/* BOOKS */
.book-title {
    font-size: 1.125em;
    font-weight: 500;
}

.book-rating {}

.book-review {}

.book-details {
    display: inline-flex;
}

.book-dateread {
    text-align: end;
    font-size: 0.8em;
}

.reading-stats {}

.reading-stats-table {
    width: 100%;
}

.reading-progressbar {
    font-size: 1.1em;
    text-align: center;
}

.reading-stats-circle-black {
    height: 0.3em;
    width: 0.3em;
    background-color: var(--dark-color);
    border: 0.12em solid var(--dark-color);
    border-radius: 50%;
    display: inline-block;
}

.reading-stats-circle-white {
    height: 0.3em;
    width: 0.3em;
    background-color: var(--light-color);
    border: 0.12em solid var(--dark-color);
    border-radius: 50%;
    display: inline-block;
}

/* ICON LINKS */

.iconlinks {
    width: 100%;
    margin-top: 3.5em;
    display: flex;
    justify-content: space-evenly;

}

.iconlinks a,
p {
    color: var(--dark-color);
}

.iconlinks span {
    font-size: 2.0em;
}

/* PAGINATION */
.paginationicons {
    width: 100%;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    display: flex;
    justify-content: center;
}

.paginationicons a,
p,
i {
    color: var(--dark-color);
}

.paginationicons span {
    padding-inline: 1em;
    font-size: 1.15em;
}

/* FOOTER */

.footer {
    margin-left: 32em;
    margin-right: 32em;
    width: auto;
    font-weight: lighter;
}

.footer p {
    font-size: 0.80em;
    text-align: center;

}


/* MOBILE LAYOUT */
@media screen and (max-width: 1500px) {

    .content,
    .footer {

        margin-left: 8em;
        margin-right: 8em;
    }

    .navigation {
        padding-left: 8em;
        padding-right: 8em;
    }

    .projectinfogrid {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "projectimagegrid projectinfo";
    }

    .projectinfo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "summary"
            "githublink";
        grid-area: projectinfo;
    }

    .projectimagegrid {
        justify-self: center;
        max-width: 50%;
    }
}


@media screen and (max-width: 950px) {

    .content,
    .footer {

        margin-left: 1em;
        margin-right: 1em;
    }

    .navigation {
        display: inline-flex;
        flex-direction: column;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .website-title a {
        width: auto;
        text-align: start;
    }

    .navigation ul {
        justify-content: start;
    }

    .navigation a {
        padding-right: 1em;
        padding-left: 0em;
    }
}