/* COLORS */

:root {
    --light-color: #fff;
    --dark-color: #191919;

    --font-color-light-mode: #191919;
    --nav-background-color: #F7F8F9;
}

/* LAYOUT */

body {
    background-color: var(--light-color);
    color: var(--font-color-light-mode);
    font-family: system-ui, Helvetica, sans-serif;
    font-size: 0.95em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body a,
a:visited {
    color: var(--dark-color);
}

.separator hr {
    border: solid #F7F8F9;
    border-width: thin;
}

/* NAVIGATION */

.website-title {
    line-height: 1.5;
    font-weight: bold;
    font-style: normal;
    font-size: 2.0em;

    /* small fix because font size made it not align */
    margin-left: -0.045em;
}


.navigation-background {
    background-color: var(--nav-background-color);
}

.navigation {
    margin: auto;
    max-width: 45em;
    align-self: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.navigation ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navigation li {
    vertical-align: middle;
}

.navigation a {
    display: block;
    padding-right: 1em;
    text-decoration: none;
    color: var(--dark-color);
    width: max-content;
}

.navigation-active {
    font-weight: bold;
}

/* CONTENT */

.content {
    flex: 1;
    max-width: 45em;
    margin: auto;
    align-content: center;
    width: 100%;
}

.pagetitle {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* TEMP */
.temp-construction-note {
    font-size: 0.75em;
    color: grey;
}

/* BLOG */
.blogentry {
    margin-bottom: 1.25em;
}

.blogtitle a,
a:visited {
    text-decoration: none;
    font-size: 1.125em;
    font-weight: bold;
}

.blogdetails {
    font-size: 0.8em;
    display: inline;
}

.blog-read-more {
    margin-right: 1em;
    text-align: right;
}

.blog-read-more a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85em;
}

.blogbacktolist {

    margin-right: 1em;
    text-align: left;
}

.blogbacktolist a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85em;
}

/* PROJECT */

.projectgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.project-grid-item {
    height: min-content;
    flex: 1 45%;
}

.project-grid-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.project-grid-title a {
    text-decoration: none;
}

.project-grid-content {
    display: flex;
}

.project-grid-image {
    max-height: 10em;
    width: 10em;
    display: flex;
}

.project-grid-image img {
    width: inherit;
    max-height: 7em;
}

.project-grid-description {
    float: left;
    margin-left: 1em;
}

.project-grid-description p {
    font-size: 0.9em;
    vertical-align: middle;
}

.project-grid-github {
    margin-top: 1em;
    text-align: center;
}

.project-grid-github a {
    text-decoration: none;
}

.projectimage img {
    height: auto;
    max-width: 10em;
}

.project-githublink {
    display: flex;
    justify-self: flex-end;
}

/* BOOKS */
.book-title {
    font-size: 1.125em;
    font-weight: 500;
}

.book-rating {}

.book-review {}

.book-details {
    display: inline-flex;
}

.book-dateread {
    text-align: end;
    font-size: 0.8em;
}

.reading-stats {}

.reading-stats-table {
    width: 100%;
}

.reading-progressbar {
    font-size: 1.1em;
    text-align: center;
}

.reading-stats-circle-black {
    height: 0.3em;
    width: 0.3em;
    background-color: var(--dark-color);
    border: 0.12em solid var(--dark-color);
    border-radius: 50%;
    display: inline-block;
}

.reading-stats-circle-white {
    height: 0.3em;
    width: 0.3em;
    background-color: var(--light-color);
    border: 0.12em solid var(--dark-color);
    border-radius: 50%;
    display: inline-block;
}

/* SYNTAX HIGHLIGHTING */
.highlight div,
.highlight pre {
    overflow-x: auto;
}


/* ICON LINKS */

.iconlinks {
    width: 100%;
    margin-top: 3.5em;
    display: flex;
    justify-content: space-evenly;

}

.iconlinks a,
p {
    color: var(--dark-color);
}

.iconlinks span {
    font-size: 2.0em;
}

/* PAGINATION */
.paginationicons {
    width: 100%;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    display: flex;
    justify-content: center;
}

.paginationicons a,
p,
i {
    color: var(--dark-color);
}

.paginationicons span {
    padding-inline: 1em;
    font-size: 1.15em;
}


.notes-content {
    display: flex;
    flex-flow: wrap;
    column-gap: 1em;
    row-gap: 1em;
}

.notes-entry {
    flex: 1 1 33%;
    padding: 0.4em;
    height: min-content;
    width: min-content;
    justify-self: flex-end;
    background: linear-gradient(315deg, transparent 1.5em, var(--nav-background-color) 1.5em);
}

.notes-title a {
    text-decoration: none;
    font-weight: bold;
}

.notes-entry-description p {
    font-size: 0.85em;
}

/* CHANGELOG */
.changelogentry ul {
    padding: 0;
}

.changelogentry li {
    list-style: none;
}

/* FOOTER */

.footer {
    width: auto;
    font-weight: lighter;
}

.footer p {
    font-size: 0.80em;
    text-align: center;
}

/* LICHESS EMBED */

.lichess-embed {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lichess-embed iframe {
    width: 27em;
    height: 40em;

}


@media screen and (max-width: 45em) {

    .content,
    .footer,
    .navigation {
        margin-left: 0.7em;
        margin-right: 0.7em;
        width: auto;
    }


    .navigation {
        flex-direction: column;
        padding-top: 1em;
    }

    .website-title a {
        width: auto;
        text-align: start;
    }


    .navigation a {
        padding-right: 1em;
        padding-left: 0em;
    }


    .projectgrid {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "projectimagegrid projectinfo";
    }

    .project-grid-image {
        min-width: 33%;
        display: flex;
        justify-content: center;

    }

    .project-grid-item {
        margin-bottom: 2em;
    }

    .project-grid-image img {
        vertical-align: middle;
    }

    .notes-entry {
        flex: 1 1 50%;
    }
}