/* LAYOUT */

body {
  color: #333;
  font-size: 90%;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
  
}

.site-nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav:visited{
  color: #333;
}

.site-nav .logo {
  padding-left: 0;
  font-weight: 700;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}

.post-snippet a{
  text-decoration: none;
}

.post-snippet time{
  font-size: 80%;
}

.footer p {
  font-size: 90%;
}
