---
layout: default
---

<div class="blog">
    <!-- {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%} -->

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>

            
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <br>
            <br>
            {%- if site.show_excerpts -%}
            {{ post.content }}
            {%- endif -%}
           
            <!-- <p >
                <a class="post-meta" href="{{ post.url | relative_url }}">
                    {{ "Read more" | escape }}
                </a>
            </p> -->
        </li>
        
        {%- endfor -%}
    </ul>

    
    {%- endif -%}

</div>